
.style-section-1 {
    background-image: url("../images/div1.png");
    height: 120px;
}

.style-section-3 {

    height: 50px;
    background-color: #ebedf7;
}

.style-section-4 {
    height: 40px;
    text-decoration-color: #ffffff;
    background-color: #777777;
}

.image-Margin-Top {
    margin-top: 10px;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
}

.couleur-Lien-Footer {
    color: #161719;
}

.col-lg-2 {
    width: 16.6667%;
}

ul, li {
    display: inline-block;
}

.style-Text {
    color: #ffffff;

}

.position-Text-Content {
    text-align: center;
}

.position-Text-Footer {
 display: block;

}
.spacer-footer{
    margin: 1px;
}
.main-area {
    border: 2px solid #161719;
}

.body-color {
    background-color: #dcdcdc;
    font-size: 100%;

}

.margin-Image {
    margin: 10px;
}

.style-header{
    background-image: url("../images/fondlogo1.png");
    background-repeat: no-repeat;

}